.git
.github
.vscode
.idea
node_modules
application/cache
application/logs
application/tests
tests
user_guide_src
deploy.sh
deploy.ps1
docker-compose.yml
docker-compose.override.yml
README.md
readme.rst
*.log
*.tmp
