footer {
   /* Footer Styles */
  &.footer-dashboard {
    background-color: $black;
    padding: 8px 0;
    width: 100%;
    position: sticky;
    //position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 50;
    
    @media (width <= $md) {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      // z-index: 50;
    }
  }
}