.modal_topUp {
    padding-top: 5% !important;

    @media (width <= $md) {
        padding-top: 0 !important;
    }
    .modal-dialog-box{
        max-width: 400px !important;
        overflow: hidden !important;
        @media (width <= $md) {
            max-width: 100% !important;
        }
        .modal-body{
            .container{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 16px;
                border: 1px solid $border-color;
                border-radius: $border-radius-md;
                padding: 16px;
            }

            .remaining-hours {
                background-color: $black;
            }

            .top-up-options {
                .top-up-choice {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .top-up-choice-value {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;

                        .btn-value,
                        .input-value {
                            padding: 2px 8px;
                        }

                        .btn-value {
                            background-color: $primary;
                            color: $black;
                            &:hover {
                                background-color: $primary-8;
                            }
                            width: 30px;
                            border-radius: $border-radius-sm;
                        }

                        .input-value {
                            border: none;
                            outline: none;
                            background-color: $shade-2;
                            text-align: center;
                        }
                    }
                }
                .top-up-total {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
}