body.payment-status {
    // Mobile background (default)
    background-image: url('../img/bg-mobile.png'); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

     
    // Desktop background
    @media (width >= $md) {
        background-image: url('../img/bg-desktop.png'); 
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .payment-status-container{
        width: 100%;
        max-width: $max-width-container-md;
        border: 1px solid $border-color;
        border-radius: $border-radius-md;
        padding: 20px 40px;
        background-color: $body-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        // margin-top: 10%;
    }
}