main.subscribe {

    section {
        padding: 20px 0px !important;
    }

    .subscribe-form-container{
        width: 100%;
        max-width: $max-width-container-md;
        border: 1px solid $border-color;
        border-radius: $border-radius-md;
        padding: 20px 40px;
        background-color: $body-color;

        @media (width <= $md) {
            padding: 20px 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns:  repeat(2, minmax(0, 1fr));
            gap: 16px;

            @media (width < $lg) {
                grid-template-columns:  repeat(1, minmax(0, 1fr));
            }
        }

        .input-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            &.error {
                input {
                    border-color: $color-error;
                }
            }
            
            .input-icon {
                position: absolute;
                left: 15px;
                top: 15px;
                z-index: 2;
                pointer-events: none;
            }
            
            input, select {
                width: 100%;
                padding: 15px 15px 15px 50px;
                background-color: $black;
                border: 1px solid $border-color;
                border-radius: $border-radius-md;
                color: $white;
                transition: border-color 0.3s ease;
            
                &::placeholder {
                    color: $white;
                    opacity: 0.8;
                }
            
                &:focus {
                    outline: none;
                    border-color: #555;
                }
            
                &:hover {
                    border-color: #444;
                }
            }

        }
    }

    .subscribe-plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            border-radius: $border-radius-md;
            padding: 40px 20px;
            transition: border-color 0.3s ease;

            &.error {
                border-color: $color-error;
            }

            .card-tag{
                font-size: 20px;
                letter-spacing: 0px;
                font-weight: 600;
                color: $text-10;
            }

            @media (width < $lg) {
                width: 100%;
            }
        }
    }

    .submit-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .submit-divider {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            position: relative;
           
            .divider {
                border-color: $primary;
            }

            span {
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 0 10px;
                font-size: 18px;
            }
        }
    }

}